* {
    margin: none;
    padding: none; 
 }


body {
    background-image: url("../../assets/images/captain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: final frontier;
    font-size: 12pt;
    color: #ffffff;
}


.jumbotron {
    background: none;
}

h1 {
    font-size: 45pt;
    color: #ffffff;
    font-family: federation;
}


/* #gifButton {
    clear: both;
    margin: auto;
    margin-top: 8%;
} */
.giphy {
    background-color: #BD9A63;
    font-size: 16pt;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 14pt;
}

.individualGif {
    float: left;
    margin-right: 2%;
}
