body {
    background-image: url("../../assets/images/star-trek-space-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: final frontier;
    font-size: 16pt;
    color: #ffffff;
}

form {
    font-family: final frontier;  
    font-size: 16pt;
}

.jumbotron {
    /* font-size: 90pt; */
    background: none;
    color: #ffffff;
    font-family: federation;
}

.card {
    background: none;
    border: none;
}

.giphy {
    margin-right: 10px;
    background-color: #375475;
    color: #ffffff;
    font-size: 16pt;
    border-style: solid;
    border-color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
}
